<nz-layout>

  <nz-header>
    <span class="color-white">
      {{title}}
    </span>

    <div style="float: right">
      <button nz-button nzType="default"
              *ngIf="!isLoggedIn"
              class="m-r-5"
              (click)="openLogin()">
        {{ 'AUTHENTICATION.LOGIN' | translate }}
      </button>
      <button nz-button nzType="primary"
              *ngIf="!isLoggedIn">
        {{ 'AUTHENTICATION.REGISTRATION' | translate: {who: 'User'} }}
      </button>
      <button nz-button nzType="primary"
              *ngIf="isLoggedIn"
              (click)="logout()">
        {{ 'AUTHENTICATION.LOGOUT' | translate }}
      </button>
    </div>

  </nz-header>

  <nz-content>
    <router-outlet></router-outlet>

    Test change2
    <div *ngIf="asd">
      Hidden
    </div>
    <div *ngIf="true">
      Visible
    </div>

    <ul>
      <ng-container *ngFor="let item of array">
        <li *ngIf="item % 2 === 1"
            (click)="utilService.print(item)">
          {{item}}
        </li>
      </ng-container>
    </ul>
  </nz-content>

</nz-layout>
